@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

// Font family
$logo-font-family: "Josefin Sans";
$main-font-family: "Aleo";

// Font color
$primary-color: #FFFFFF;

// Font size
$base-font-size: 1rem;

// Letter spacing
$base-logo-spacing: 4.8px;
$main-text-spacing: 0;

