@use "../styles/" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font-family;
}

body {
  animation: fadeInAnimation ease 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: #ffffff;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin logo($base-font-size, $base-logo-spacing) {
  color: $primary-color;
  font-family: $logo-font-family;
  font-size: $base-font-size;
  letter-spacing: $base-logo-spacing;
}

@mixin main-text($base-font-size, $main-text-spacing) {
  color: $primary-color;
  font-family: $main-font-family;
  font-size: $base-font-size;
  letter-spacing: $main-text-spacing;
}

@mixin flex-container($flex-direction, $justfy-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justfy-content;
  align-items: $align-items;
}

.logo-main {
  @include logo(3rem, 4.8px);
  text-transform: uppercase;
}

.logo-small {
  @include logo(1.5rem, 2.4px);
  text-transform: uppercase;
}

.flex-header {
  @include flex-container(column, center, center);
  background: url("../images/image1-bg.png") no-repeat center center/cover;
  height: 90vh;

  h2 {
    @include logo(1.375rem, 6.82px);
    font-weight: 400;
    margin-top: 0.8rem;
  }

  .search-form {
    margin-top: 124px;
    background-color: #ffffff;
    width: 653px;
    position: relative;
    display: flex;
    .search-input {
      @include logo(1rem, 2.8px);
      text-align: center;
      width: 100%;
      border: none;
      border-right: none;
      padding: 5px;
      height: 60px;
      outline: none;
      color: #999999;
      cursor: pointer;

      &:focus {
        color: #000000;
        &::placeholder {
          color: transparent;
        }
      }
    }
    .search-button {
      @include main-text(0.875rem, 1.4px);
      @include flex-container(row, center, center);
      gap: 10px;
      text-transform: uppercase;
      width: 150px;
      height: 60px;
      padding: 8px;
      border: 2px solid #ffffff;
      background: #5474fd;
      color: #ffffff;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      // style animate btn
      &::after {
        content: "";
        position: absolute;
        top: -50%;
        right: -50%;
        bottom: -50%;
        left: -50%;
        background: linear-gradient(
          to bottom,
          rgba(229, 172, 142, 0),
          rgba(255, 255, 255, 0.5) 50%,
          rgba(229, 172, 142, 0)
        );
        transform: rotateZ(60deg) translate(-5em, 7.5em);
      }
      &:hover::after,
      :focus::after {
        animation: sheen 1s forwards;
      }
      @keyframes sheen {
        100% {
          transform: rotateZ(60deg) translate(1em, -9em);
        }
      }
    }
    @media (max-width: 780px) {
      width: 90%;
    }
    @media (max-width: 580px) {
      .search-input {
        @include main-text(0.8rem, 1.5px);
      }
    }
  }
  .scroll-down {
    @include flex-container(column, center, center);
    @include logo(0.875rem, 2.8px);
    margin-top: 172px;
    cursor: pointer;
  }
}

// navigation style
.main-nav {
  background-color: #5474fd;

  .nav-bar {
    @include flex-container(row, space-evenly, center);
    list-style: none;
    height: 10vh;

    .right-nav {
      @include flex-container(row, space-between, center);
      gap: 1.5rem;

      .nav-bar__link {
        text-decoration: none;
        position: relative;

        span {
          @include main-text(0.875rem, 1.4px);
          text-transform: uppercase;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #ffffff;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }

          &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }

          @media (max-width: 580px) {
            @include main-text(0.7rem, 1.4px);
          }

          @media (max-width: 480px) {
            @include main-text(1.5rem, 1.4px);
          }
        }
      }
    }
    @media (max-width: 480px) {
      @include flex-container(row, start, center);
      height: fit-content;
      .right-nav {
        @include flex-container(column, start, start);
        gap: 1.5rem;
        margin: 2rem;
      }
    }
    @media (max-width: 780px) {
      .left-nav {
        display: none;
      }
    }
  }
}

// why choose us section
@mixin main-button {
  width: 228px;
  height: 63px;
  margin-top: 2rem;
  background: linear-gradient(237deg, #5474fd 57%, #496bfe 24%);
  font-size: $base-font-size;
  border: none;
  letter-spacing: 1.2px;
  cursor: pointer;
}

#about-us {
  @include flex-container(row, center, center);
  background: url("../images/why-choose-us-bg.png") no-repeat center
    center/cover;
  height: 80vh;
  padding: 20%;

  .left-container {
    margin-right: 6rem;
    width: 60%;
    h3 {
      @include main-text(2.25rem, 0px);
    }
    p {
      @include logo(1rem, 1.6px);
      margin-top: 50px;
      line-height: 26px;
    }
    .main-btn {
      @include main-button();
      @include main-text(1rem, 1.2px);
      text-transform: uppercase;

      &:hover {
        background: #496bfe;
      }
    }
  }
  .right-container {
    width: 40%;

    .img-2 {
      margin-left: 90px;
    }
  }
  @media (max-width: 780px) {
    display: grid;
    grid-template-rows: auto;
    height: fit-content;
    gap: 1rem;
    padding: 2rem;
    .left-container {
      width: 100%;
    }

    .right-container {
      width: 100%;
      margin-top: 2rem;

      .img-2 {
        margin-top: 2rem;
        margin-left: 90px;
      }
    }
  }
  @media (max-width: 500px) {
    .left-container {
      margin: 2rem;
      width: 80%;
      padding: 0;

      h3 {
        @include main-text(1.75rem, 0px);
      }
      p {
        @include logo(1rem, 1.6px);
        margin-top: 0;
        line-height: 26px;
      }
    }
    .right-container {
      width: 80%;
      margin-top: 2rem;

      .img-2 {
        margin-top: 2rem;
        margin: 0;
      }
    }
  }
}

#svg-menu {
  @include flex-container(column, center, center);
  height: 340px;
  background-color: #333333;
  .curve {
    @include flex-container(column, center, center);
    width: 100%;
    margin-left: 13%;
    z-index: 1;
    margin-bottom: -40px;
  }
  .svg-row {
    @include flex-container(row, space-evenly, center);
    width: 100%;
    .svg-block {
      @include flex-container(column, center, center);
      transition: all 200ms ease-in-out;
      gap: 1rem;
      .circle {
        width: 99px;
        height: 99px;
        border-radius: 50%;
        z-index: 2;
        margin-bottom: -99px;
        background-color: #333333;
      }
      svg {
        z-index: 9;
      }
      p {
        @include main-text(2.25rem, 0);
      }
    }
  }

  @media (max-width: 1450px) {
    .curve {
      display: none;
    }
  }
  @media (max-width: 780px) {
    padding: 30px;
    .svg-block {
      gap: 0.5rem;
      padding: 0.5rem;
      p {
        @include main-text(1.5rem, 0);
      }
    }
  }
  @media (max-width: 580px) {
    @include flex-container(column, center, space-evenly);
    height: fit-content;
    row-gap: 1rem;
    .svg-block {
      gap: 1rem;
    }
  }
}

%bg-card {
  width: 543px;
  height: fit-content;
  background-color: rgb(35, 35, 35, 0.9);
  padding: 30px;
  position: relative;
}

#book-1 {
  @include flex-container(row, start, center);
  background: url("../images/grand-spain-1.png") no-repeat center center/cover;
  height: 80vh;
  .card {
    @extend %bg-card;
    margin-left: 15%;

    h3 {
      @include logo(1.25rem, 1.5px);
      margin-bottom: 30px;
    }
    h4 {
      @include logo(1.25rem, 0);
      margin-bottom: 30px;
    }
    p {
      @include logo(1rem, 0);
      margin-bottom: 30px;
      line-height: 26px;
    }
    .main-btn {
      @include main-text(1rem, 1.2px);
      text-transform: uppercase;
      @include main-button();

      &:hover {
        background: #496bfe;
      }
    }

    @media (max-width: 580px) {
      margin-left: 5%;
      width: 90%;
    }
  }
}

#book-2 {
  @include flex-container(row, end, center);
  background: url("../images/grand-spain-bg-2.png") no-repeat center
    center/cover;
  height: 80vh;
  .card-2 {
    @extend %bg-card;
    margin-right: 15%;

    h3 {
      @include logo(1.25rem, 1.5px);
      margin-bottom: 30px;
    }
    h4 {
      @include logo(1.25rem, 0);
      margin-bottom: 30px;
    }
    p {
      @include logo(1rem, 0);
      margin-bottom: 30px;
      line-height: 26px;
    }
    .main-btn {
      @include main-text(1rem, 1.2px);
      text-transform: uppercase;
      @include main-button();

      &:hover {
        background: #496bfe;
      }
    }

    @media (max-width: 580px) {
      margin-right: 5%;
      width: 90%;
    }
  }
}

#tourist {
  @include flex-container(column, center, center);
  background: url("../images/sam-sumon-bg.png") no-repeat center center/cover;
  height: 90vh;
  h3 {
    @include main-text(2.25rem, 0);
    margin-bottom: 90px;
  }
  .flex-tourist {
    @include flex-container(row, center, center);
    @extend %bg-card;
    padding: 0;
    width: 85%;
    height: fit-content;

    .right-img-cont {
      height: 284px;
    }

    .left-text-cont {
      margin: 0px 30px;
      h4 {
        @include logo(1.25rem, 0);
        text-transform: uppercase;
        margin: 30px 0px;
      }
      p {
        @include logo(1rem, 0);
        line-height: 26px;
        margin-bottom: 30px;

        .color-quotes {
          font-size: 3rem;
          color: #5474fd;
        }
      }
    }
  }

  @media (max-width: 880px) {
    .flex-tourist {
      width: 95%;
      .right-img-cont {
        height: 220px;
      }
    }
  }
  @media (max-width: 780px) {
    width: 100%;
    .flex-tourist {
      @include flex-container(column, start, center);
      width: 100%;
      .right-img-cont {
        height: 284px;
      }
    }
  }
  @media (max-width: 580px) {
    h3 {
      @include main-text(1.75rem, 0);
      margin-bottom: 40px;
      margin-top: 16px;
    }
    .left-text-cont {
      margin: 30px;
    }
  }
}

#footer {
  @include flex-container(column, center, center);
  background-color: #232323;
  width: 100%;
  height: 30vh;
  row-gap: 30px;
  padding-top: 2rem;
  h3 {
    @include logo(1.5rem, 3.36px);
    text-transform: uppercase;
  }
  p {
    @include logo(1rem, 1.6px);
  }
  .svg-social-media {
    @include flex-container(row, center, center);
    gap: 1rem;
  }
  @media (max-width: 580px) {
    height: 50vh;
  }
}
