@use "../styles/" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font-family;
}

body {
  animation: fadeInAnimation ease 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin logo($base-font-size) {
  color: $primary-color;
  font-family: $logo-font-family;
  font-size: $base-font-size;
}

.logo-main {
  @include logo(3rem);
}

.logo-small {
  @include logo(1.5rem);
}
